<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954379934449-24fvb4uq50qeag1n9ccie9c3vbd118ld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954379934449-24fvb4uq50qeag1n9ccie9c3vbd118ld</string>
	<key>API_KEY</key>
	<string>AIzaSyDEBozyk8Pr4hEu-NBUW8iyUnL0KlBHnoU</string>
	<key>GCM_SENDER_ID</key>
	<string>954379934449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>e-learning-app-2115c</string>
	<key>STORAGE_BUCKET</key>
	<string>e-learning-app-2115c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954379934449:ios:cd8d42f1c028b0f0b36750</string>
	<key>DATABASE_URL</key>
	<string>https://e-learning-app-2115c.firebaseio.com</string>
</dict>
</plist>